

aside {
    background: #DCE1F6;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2em;
    position: relative !important;
    background: none !important;
    width: 100%;
    color: rgb(230, 13, 13);
}

#l1, #l2, #l3, #l4, #l5 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 2.5em 3em;
    color: red;
    font-weight: bold;
}

#l1:hover, #l2:hover, #l3:hover, #l4:hover, #l5:hover{
    background-color: white;
}

#imgEsc {
    width: 100%;
    height: 150px;
    background-color: rgb(243, 8, 8);
}
