.entradas1{
    display: grid;
    grid-template-columns: 53% 47%;
}

input, select{
    border-radius: 5px;
    border: solid;
    border-color: crimson;
    font-family: 'Montserrat', sans-serif;
}


#imgEnt{
    width: 210%;
    height: 400px;
}

