.footer1 {
    width: 100%;
    background: white;
    padding: 0px 0px;
}

.footer1 ul{
    align-content: center;
    padding-left: 20%;
    display:flex;
}


.footer1 ul li{
    list-style: none;
    padding: 1em 3em;
}

.footer1 ul li .fa{
    color: red;
    font-size: 50px;
    line-height: 100px;
    transition: .6s;
}

.footer1 ul li .fa:hover{
    background-color: #DCE1F6;
}

.footer2{
    padding-left: 25%;
    color: crimson;
}

